# Python
__pycache__/
*.py[cod]

# Environment
.env
*.json

# Database
*.db

# Virtual Environment
venv/
.venv/

# Generated audio
*.mp3

# Generated scripts
*.txt

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store